section{
    height: 100%;
    background: rgb(170,34,128);
    background: linear-gradient(90deg, rgba(170,34,128,1) 0%, rgba(138,68,152,1) 100%, rgba(185,18,117,0.636758927203694) 100%, rgba(0,212,255,0.7656104678199405) 100%);
}